.tc-maindiv{
    max-width: 800px;
    width: 50%;
    /* margin: 2rem auto; */
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.tc-maindiv p{
    font-size: 22px;
    text-align: justify;
    color: var(--text-grey);
    font-weight: 200;
}

.tc-insidediv{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.tc-insidediv h2{
    font-size: 40px;
    margin: 2rem 0 1rem 0;
    font-weight: 400;
}

.tc-flexdiv{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    height:80vh;
    width: 1280px;
    margin: 5rem auto;
}

.tc-fixeddiv{
    width: 40%;
}

.tc-fixeddiv img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}